html {
  overflow-y: overlay; /* Fix scrollbar shifting content on Chrome */
}

body {
  letter-spacing: 0.025em;
  background-color: #fafafa;
  color: #444;
}

body.dark-theme {
  background-color: #252627;
  color: #b2b2bd;
}

.container {
  background-color: #fff;
}

body.dark-theme .container {
  background-color: #292a2d;
}

.post-content {
  margin-bottom: 50px;
}

.post-info:first-child {
  margin-bottom: 0;
}

.post-info {
  margin: 20px 0;
}

footer.footer {
  padding-top: 0;
}

.full-width {
  width: 100%;
}

.social-icon svg {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin: 0 4px;
}

.ValuesList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 30px;
  margin-bottom: 30px;
}

.ValuesList ul {
  margin-top: 0;
  margin-bottom: 0;
}

.SkillsList-skill {
  margin-bottom: 12px;
  display: flex;
  align-items: top;
  padding-left: 16px;
}

.SkillsList-skill > div:last-child {
  padding-left: 12px;
}

@media screen and (max-width: 685px) {
  .bulleted-table {
    padding-left: 0;
    font-size: 0.8em;
  }

  .SkillsList-skill {
    padding-left: 0;
  }
}
