html {
  overflow-y: overlay; /* Fix scrollbar shifting content on Chrome */
}

body {
  color: #444;
}

body.dark-theme {
  color: #ceced7;
}

.post-content {
  margin-bottom: 50px;
}

.post-info:first-child {
  margin-bottom: 0;
}

.post-info {
  margin: 20px 0;
}

footer.footer {
  padding-top: 0;
}

.full-width {
  width: 100%;
}

.bulleted-table {
  padding-left: 20px;
}

.social-icon svg {
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin: 0 4px;
}

@media screen and (max-width: 685px) {
  .bulleted-table {
    padding-left: 0;
    font-size: 0.8em;
  }
}
